/*  Websites reference when coding of customiser
	http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/
	https://www.html5canvastutorials.com/labs/html5-canvas-paint-application/
	https://code.tutsplus.com/tutorials/how-to-create-a-web-based-drawing-application-using-canvas--net-14288 
	http://www.primaryobjects.com/2011/10/05/creating-a-simple-paint-app-with-html5-canvas-and-javascript/
   */


@charset "UTF-8";
/* CSS Document */

* { margin:0; padding:0; }

/* Link Styles */
a:link {
	color: #999;
	text-decoration: none;
	cursor:pointer;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: underline;
	color: #CCC;
}
a:active {
	text-decoration: none;
	color: #999;
}

body {
	
	color:#d7d7d7;
		font-size:100%;
	line-height:27px;
	font-family: Sans-serif;
}

#wrapper {
	position:relative;
	width:960px;
	margin:0 auto;
	padding-top:75px;
}


#blackboardPlaceholder {
	width:924px;
	height:599px;
	margin:0 auto;
	padding:14px 0 75px 14px;
	cursor:crosshair;
}

#drawingCanvas {
	position:absolute; 
	border:none;
	color:#FFF; 
	overflow:hidden;
	background-color:transparent;

}

.noscript { padding:50px 30px 0 40px; width:820px; }

#tempCanvas {
	position: absolute;
	width:897px; 
	height:532px; 
	overflow:hidden;
}

#selector {
	position:absolute;
	z-index:99999;
	margin-top:-30px;
}

#color { position:absolute; cursor:pointer; margin-top:-10px; right:70px; }
#nuke { position:absolute; cursor:pointer; margin-top:-10px; right:100px; }

#saveWrapper { position:absolute; right:0px; }

#convertpngbtn {
	float:right;
	margin-right:40px;
	margin-top:-10px;
	position:relative;
	z-index:9999;
	cursor:pointer;
	overflow:hidden;
}

#resetbtn { cursor:pointer; }

#textdownload { 
	display:none;
	position:absolute;
	font-family: Sans-serif;
	color:#000;
	font-size:100%;
	float:right; 
	margin-top:-10px;
	right:91px;
	width:250px;
	overflow:hidden;
}

/* The Tooltips */
.tooltip{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
   background-color:#F00;
}

select { 
	font-family: Sans-serif;
	font-size:100%;
	background-color:#EAEAEA;
}

/* The Color Toggle */
#colorTable {
	width:231px;
	height:132px; 
	position:absolute;
	margin-top:8px;
	z-index:999999;
	right:80px;
	background-color: #000000;
	display:none;
	cursor:pointer;
}

.color {
	position:relative;
	height:7px;
	width:7px;
	float:left; 
	padding:1px;
	margin:1px;
}

.color:hover{ border:solid 1px #FFF; margin:0px; }

/* Eraser */
#eraser {
	position:absolute;
	background:url(../Assets/eraser.png) no-repeat;
	left: 737px;
	top: 620px;
	width: 139px;
	height: 67px;
	z-index:99999;
	cursor:pointer;
}

/* Chalk Pieces */
#redChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:160px; }
#greenChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:400px; }
#blueChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:480px; } 
#yellowChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:320px; }
#orangeChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:240px; }
#pinkChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:560px; } 
#whiteChalk_button { cursor:pointer; position:absolute; z-index:99999; top:620px; left:80px; } 

/* Stroke Menu */
#strokeWeight { 
	background:url(../Assets/stroke-style.png) no-repeat;
	width:43px; 
	height:153px;
	position:absolute; 
	top:456px; 
	left:-18px; 
	z-index:1; 
	padding:8px 0 0 7px;
}

.stroke { cursor:pointer; margin-bottom:3px; }

#stroke-subtract {
	position:absolute;
	top:436px; 
	left:-13px;
	z-index:999999;
	cursor:pointer;
}

#stroke-add {
	position:absolute;
	top:436px; 
	left:5px;
	z-index:999999;
	cursor:pointer;
}